.header{
    background-color: rgb(36, 96, 161);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.left-container{
    display: flex;
    align-items: center;
}

mat-icon{
    margin: 0 7px;
}