<div class="select">
    <div>
        <span>FLOOR :</span>
        <mat-form-field appearance="fill">
            <mat-label>Floor</mat-label>
            <mat-select>
                <mat-option value="option">1</mat-option>
                <mat-option value="option">2</mat-option>
                <mat-option value="option">3</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <span>SECTION :</span>
        <mat-form-field appearance="fill">
            <mat-label>Section</mat-label>
            <mat-select>
                <mat-option value="option">Lab 1</mat-option>
                <mat-option value="option">Lab 2</mat-option>
                <mat-option value="option">Lab 3</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <span>VIEW :</span>
        <mat-form-field appearance="fill">
            <mat-label>View</mat-label>
            <mat-select>
                <mat-option value="option">Individual</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <span>METER :</span>
        <mat-form-field appearance="fill">
            <mat-label>Meter</mat-label>
            <mat-select>
                <mat-option value="option">Meter 1</mat-option>
                <mat-option value="option">Meter 2</mat-option>
                <mat-option value="option">Meter 3</mat-option>
                <mat-option value="option">Meter 4</mat-option>
                <mat-option value="option">Meter 5</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>